<!doctype html>
<html ng-app="contact">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-social.css" rel="stylesheet" />
    <link href="Content/custom.css" rel="stylesheet" />
    <link href="Content/contact.css" rel="stylesheet" />
    <link rel="icon" href="img/logofav.png" />
</head>
<body ng-controller="contactcontroller">
    <div class="abovenavbar">
        <div class="bannercontent">
            <a href="index.html">ExcellentCoaching</a>
        </div>
    </div>
    <!--navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center sticky-top shadow">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">HOME</a>
            </li>
            <!-- Courses Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">COURSES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="commerce.html">Commerce</a>
                    <a class="dropdown-item" href="mathematic.html">Mathematics</a>
                    <a class="dropdown-item" href="language.html">Languages</a>
                </div>
            </li>
            <!--Faculties dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">FACULTIES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="faculty.html#commerce">Commerce</a>
                    <a class="dropdown-item" href="faculty.html#mathematics">Mathematics</a>
                    <a class="dropdown-item" href="faculty.html#languages">Languages</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="story.html">SUCCESS STORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">CONTACT US</a>
            </li>
        </ul>
    </nav><br>

    <!--Content-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-xl-6">
                    <blockquote>
                        <h1 class="h1 text-left">Say Hello</h1>
                    </blockquote>
                    <p class="p text-left">We are always ready to serve you!</p>
                </div>
                <div class="row pb-2">
                    <div class="col-md-6 border">
                        <form id="ctForm" name="ctForm" class="form py-2" method="post" ng-submit="emFunc()">

                            <p class="font-weight-bold">Name:<span class="form-required">*</span></p>
                            <input name="ctName" ng-model="ctName" class="form-control" type="text" placeholder="Your Name" required>
                            <span ng-cloak ng-show="ctForm.ctName.$touched && ctForm.ctName.$invalid" class="form-required">
                                <span ng-show="ctForm.ctName.$error.required">Name is required</span>
                            </span>

                            <br />

                            <p class="font-weight-bold">Email:<span class="form-required">*</span></p>
                            <input name="ctEmail" type="email" class="form-control" placeholder="Your email" ng-model="ctEmail" required>
                            <span ng-cloak ng-show="ctForm.ctEmail.$touched && ctForm.ctEmail.$invalid" class="form-required">
                                <span ng-show="ctForm.ctEmail.$error.required">Email is required</span>
                                <span ng-show="ctForm.ctEmail.$error.email">Invalid email address</span>
                            </span>

                            <br />

                            <p class="font-weight-bold">Your comments:<span class="form-required">*</span></p>
                            <textarea name="ctMessage" class="form-control" placeholder="What would you like to know more about us" rows="4" required ng-model="ctMessage"></textarea>
                            <span ng-cloak ng-show="ctForm.ctMessage.$touched && ctForm.ctMessage.$invalid" class="form-required">
                                <span ng-show="ctForm.ctMessage.$error.required">Message is required</span>
                            </span>
                            <p></p>
                            <div class="text-center">
                                <button id="formsubmit" type="submit" class="btn btn-primary" ng-disabled="ctForm.ctName.$touched && ctForm.ctName.$invalid ||
                                        ctForm.ctEmail.$touched && ctForm.ctEmail.$invalid ||
                                        ctForm.ctMessage.$touched && ctForm.ctMessage.$invalid">
                                    Send message
                                </button>
                                &nbsp;
                                <button type="reset" class="btn btn-danger">Cancel</button> <br />
                                <div class="text-center font-weight-bold">OR</div>
                                <a href="mailto:contacts@excellent.edu" class="btn btn-light btn-lg rounded btn-ec">&nbsp;&nbsp;&nbsp;Send us an email&nbsp;&nbsp;&nbsp;</a><br>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <iframe class="ifr" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.321038152839!2d106.66424331527466!3d10.786705261952378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech+Computer+Education+HCM!5e0!3m2!1sen!2sus!4v1533999304150" align="bottom" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact modal-->
    <div class="modal fade" id="ctModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <h1>Thank you for contacting us, {{contactname}}!</h1>
                        <p>We will reply to your message at <span ng-cloak class="font-weight-bold">{{ contactemail }}</span> shortly.</p>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container-fluid pt-md-3 text-md-center">
            <a class="btn btn-social-icon btn-lg btn-google" href="https://www.google.com" target="_blank"><i class="fa fa-google"></i></a>
            <a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-lg btn-twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-lg btn-google" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
        <hr class="py-1" />
        <div class="container-fluid text-center">
            Excellent Coacing Educations &bull; 9999 10th Ave E, Seatle, WA 99999
            &bull;
            <!-- Button to Open the Modal -->
            <a href="#" data-toggle="modal" data-target="#myModal">Map</a>
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Map
            </button>-->
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Find Us</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container-fluid">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.321038152839!2d106.66424331527466!3d10.786705261952378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech+Computer+Education+HCM!5e0!3m2!1sen!2sus!4v1533999304150" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a class="btn btn-primary" role="button" href="https://goo.gl/maps/CoS2YfedVe82" target="_blank">View in Google Maps</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            &bull;
            <a href="tel:+1-555-555-5555">Support (555) 555 5555</a>
        </div>
        <hr class="py-1" />
        <div class="container-fluid text-center">
            <a href="privacy.html" class="btn btn-light">Privacy Policy</a>
            &nbsp; &bull; &nbsp;
            <a href="sitemap.html" class="btn btn-light">Sitemap</a>
            &nbsp; &bull; &nbsp;
            <a class="btn btn-light disabled" aria-disabled="true">&copy; Excellent Coaching Educations</a>
        </div>
    </div>
    <a href="#" class="ScrollToTop" title="Back to top"><i class="fa fa-arrow-up"></i></a>
    <!--Scripts placed at end of document to make pages load faster-->
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/umd/popper.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/scripts.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <!--controller-->
    <script src="Scripts/contact.js"></script>
</body>
</html>
