<head>
    <link href="Content/contact.css" rel="stylesheet" />
</head>
<body>
    <!--Content-->
    <br />
    <div class="container">
        <div class="row container-fluid">
            <div class="col-md-6">
                <h1>Say Hello</h1>
                <p class="p text-left">We are always ready to serve you!</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="mailto:contacts@excellent.edu" class="btn btn-light btn-lg rounded btn-ec">Send us an email</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row pb-2">
                    <div class="col-md-6 border">
                        <form id="ctForm" name="ctForm" class="form py-2" method="post" ng-submit="emFunc()">

                            <p class="font-weight-bold align-content-lg-center">Name:<span class="form-required">*</span></p>
                            <input name="ctName" ng-model="ctName" class="form-control" type="text" placeholder="Your Name" required>
                            <span ng-cloak ng-show="ctForm.ctName.$touched && ctForm.ctName.$invalid" class="form-required">
                                <span ng-show="ctForm.ctName.$error.required">Name is required</span>
                            </span>

                            <br />

                            <p class="font-weight-bold">Email:<span class="form-required">*</span></p>
                            <input name="ctEmail" type="email" class="form-control" placeholder="Your email" ng-model="ctEmail" required>
                            <span ng-cloak ng-show="ctForm.ctEmail.$touched && ctForm.ctEmail.$invalid" class="form-required">
                                <span ng-show="ctForm.ctEmail.$error.required">Email is required</span>
                                <span ng-show="ctForm.ctEmail.$error.email">Invalid email address</span>
                            </span>

                            <br />

                            <p class="font-weight-bold">Your comments:<span class="form-required">*</span></p>
                            <textarea name="ctMessage" class="form-control" placeholder="What would you like to know more about us" rows="4" required ng-model="ctMessage"></textarea>
                            <span ng-cloak ng-show="ctForm.ctMessage.$touched && ctForm.ctMessage.$invalid" class="form-required">
                                <span ng-show="ctForm.ctMessage.$error.required">Message is required</span>
                            </span>
                            <p></p>
                            <div class="text-center">
                                <div class="btn-group btn-group-justified">
                                    <button id="formsubmit" type="submit" class="btn btn-group btn-ec" ng-disabled="ctForm.ctName.$touched && ctForm.ctName.$invalid ||
                                        ctForm.ctEmail.$touched && ctForm.ctEmail.$invalid ||
                                        ctForm.ctMessage.$touched && ctForm.ctMessage.$invalid">
                                        Send message
                                    </button>
                                    &nbsp;
                                    <button type="reset" class="btn btn-group btn-danger">Cancel</button> <br />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <iframe class="ifr" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.321038152839!2d106.66424331527466!3d10.786705261952378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech+Computer+Education+HCM!5e0!3m2!1sen!2sus!4v1533999304150" align="bottom" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact modal-->
    <div class="modal fade" id="ctModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <h1>Thank you for contacting us, {{contactname}}!</h1>
                        <p>We will reply to your message at <span ng-cloak class="font-weight-bold">{{ contactemail }}</span> shortly.</p>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </body>
