
<body>
    
    <!--Content-->
    <div class="container">
        <h2 align="center" id="coursename">Languages</h2><br>

        <!--TOC-->
        <div class="border col-md-3">
            <div class="row">
                <b class="col-9">Contents</b>
                <span class="col-2 px-1"><a href="" id="toctoggle">[hide]</a></span>
            </div>
            <div class="container-fluid" id="toccontents">
                <ul>
                    <li><a href="" ng-click="scrollTo('info')">Information</a></li>
                    <li><a href="" ng-click="scrollTo('structure')">Course Structure</a></li>
                    <li><a href="" ng-click="scrollTo('teacher')">Teachers</a></li>
                    <li><a href="" ng-click="scrollTo('fee')">Fee</a></li>
                    <li><a href="" ng-click="scrollTo('download')">Downloads</a></li>
                </ul>
            </div>
        </div>
        <br>
        <!--end of TOC-->
        <div id="info"></div>
        <br><br>

        <h4>Information</h4>
        <div class="container">
            <p>This course gives you comprehensive knowledge of languages like English, Spanish, France or Chinese.</p>
            <p>
                Following the course, you can quickly gain an understanding of the most important ideas, and you can learn up to an intemediate's level of the language.
            </p>
        </div>
        <br>

        <div id="structure"></div>
        <br><br>

        <h4>Course Structure</h4>

        <div class="col-sm-6">
            <p>Please choose <u>one</u> of the folowing subject:</p>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td width="80">LG001</td>
                    <td width="200">English</td>
                </tr>
                <tr>
                    <td>LG002</td>
                    <td>Spanish</td>
                </tr>
                <tr>
                    <td>LG003</td>
                    <td>France</td>
                </tr>
                <tr>
                    <td>LG004</td>
                    <td>Chinese</td>
                </tr>

            </table>
        </div>
        <br>

        <div id="teacher"></div>
        <br><br>

        <h4>Teachers</h4>
        <div class="container">
            <table class="table-bordered">
                <tr>
                    <td align="center">
                        <img src="img/teach7.jpg" width="150" height="200"><br>
                        <h6>Mr. Mark Feehily</h6>
                        <p style="font-size:12px;font-style:italic">Ph.D in English and Spanish</p>
                    </td>
                    <td align="center">
                        <img src="img/teach8.jpg" width="150" height="200"><br>
                        <h6>Mr. Kian Egan</h6>
                        <p style="font-size:12px;font-style:italic">Ph.D in English and France</p>
                    </td>
                    <td align="center">
                        <img src="img/teach9.jpg" width="150" height="200"><br>
                        <h6>Mr. Brian McFadden</h6>
                        <p style="font-size:12px;font-style:italic">Ph.D in Chinese</p>
                    </td>
                </tr>
            </table>

        </div>
        <br>

        <div id="fee"></div>
        <br><br>

        <h4>Fee</h4>
        <div class="col-sm-6">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td width="30%">Per subject:</td>
                    <td width="40%">$10,150</td>
                </tr>
            </table>
        </div>
        <br>

        <div id="download"></div>
        <br><br>

        <h4>Download</h4>
        <div class="container">
            <a href="Doc/language.docx" class="btn btn-light btn-lg rounded btn-ec">Download Course Information</a>
            <a href="Doc/price.docx" class="btn btn-light btn-lg rounded btn-ec">Download All Pricelist</a>
        </div>
        <br><br>
    </div>

   
</body>
