.story {
    border: 2px solid black;
    transition: 0.5s;
}

    .story:hover {
        background-color: rgb(248,248,248);
    }

.studentportraits {
    border: 2px solid black;
    width: 200px;
}

.details {
    position: relative;
    height: 300px;
}

.detlist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(10px);
}

.paragraph {
    text-indent: 50px;
}
